// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$gray: #F4F4F4;

body {
  background: $gray; // Using this variable
}

h1 {
  font-size: 50px;
  font-family: arial;
}

p {
  font-size: 20px;
  font-family: arial;
}


a {
  color: blue;
  text-decoration: none;
  font-family: arial;

  &:hover {
    color: black;
  }
}
